body {
    background-color: lightgray;
  }
  
  h1 {
    text-align: center;
    color: darkblue;
  }
  
  table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: darkblue;
    color: white;
  }
  