<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Sample Data</title>
  </head>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>Sample ID</th>
        <th>Size</th>
        <th>Result</th>
        <th>Start Time</th>
      </tr>
      {% for sample in samples %}
      <tr>
        <td>{{ sample[0] }}</td>
        <td>{{ sample[1] }}</td>
        <td>{{ sample[2] }}</td>
        <td>{{ sample[3] }}</td>
        <td>{{ sample[4] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
